.card-image {
  margin: 1px 0 0 1px !important;
  background: #bfc4d1 !important;
  border: 1px solid #bfc4d1 !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}
