#site-container {
  width: 990px;
  margin: 0 auto;
  #site-body{
    overflow: visible;
    width: 100%;
    background: #fff;
    min-height: 800px;
    padding-bottom: 15px;
    border-radius: 5px;
  };
};
