<h1 class="text-center mb-4"><%= @pokemon_cards.first.nil? ? "Error" : @pokemon_cards.first.set_name%></h1>
<div id="site-container">
  <div class="card-listing">
      <div class="site-body">
        <div class="collection-box">
          <% @pokemon_cards.each do |card|%>
            <div class="lazy">
                <%= image_tag(card.image_url, size: "93x140", class: "lazy") %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
  $(function () {
     $("img.lazy")
  })
</script>
